<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pederson Inspections</title>
   <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
  <div class="wrapper">
    <figure>
      <picture>
        <img src="https://pedersoninspections.com/images/Gary2021.jpg" alt="Gary Pederson">
          <figcaption>Gary Pederson</figcaption>
      </picture>
    </figure>  
    <div class="text-box text-center">
      <h1>Gary Pederson</h1>
      <p>State Electical Inspector for the Minnesota Department of Labor and Industry.<br/> Serving Minneapolis (north of 42nd street) and Inver Grove Heights.</p>
    </div>
  </div>
  </header>

  <nav class="nav-bar">
    <ul>
      <li><a href="#home">Home</a></li>
        <div class="dropdown">
          <li><button class="dropbtn">Helpful Links
            <i class="fa fa-caret-down"></i>  
          </button></li>
          <div class="dropdown-content">
            <a href="https://www.dli.mn.gov/sites/default/files/pdf/eli_inspection_checklist2.pdf">Residental Checklist</a>
            <a href="https://www.dli.mn.gov/business/get-licenses-and-permits/permits">Permit Forms</a>
            <a href="https://www.dli.mn.gov/">MNDOLI</a>
          </div>    
        </div>
<!-- Conditionally render login or logout links -->
  {{#if logged_in}}
    <li style="float:right"><a href="/profile">Profile</a></li>
    <button class="no-button" id="logout">Logout</button></li>
  {{else}}
    <li style="float:right"><a href="/login">Login</a></li>
  {{/if}}
    </ul>
  </nav>
    
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

  <div>
    <footer>
      <!--add footer-->
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
