<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pederson Electric</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
         <img src="https://user-images.githubusercontent.com/119467134/227715459-92e2659f-12e7-4869-9eda-d867a9291191.jpg" alt="company_logo">
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <div>
      <h1>
        <img src="https://pedersoninspections.com/images/Gary2021.jpg" alt="Gary Image">
        <h6>Gary Pederson</h6>
        <h7>p. 952-431-3565</h7>
      <h2>
        <h9>Office Hours</h7>
      </h2>  
        

      </h1>

    </div>
    <div class="cont">
      <aside>
        <div class="sidebar">
              <a href="https://www.dli.mn.gov/sites/default/files/pdf/eli_inspection_checklist2.pdf">
              <span class="material-icons-sharp"> inventory</span>
              <h4>Residental Checklist</h4>
          <a href="https://www.dli.mn.gov/business/get-licenses-and-permits/permits">
              <span class="material-icons-sharp"> inventory</span>
              <h4>MN Electrical Licensing and Inspections</h4>
          <a href="https://www.dli.mn.gov/" alt="MN Dept of Labor and Industry">
              <span class="material-icons-sharp"> receipt long</span>
              <h4>MN Dept of Labor and Industry</h4>
        </div>
          
        </div>
      </aside>
    </div>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
