<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
    </h2>


  </div>

  </div>
</div>
{{/each}}

<h2>homepage.handlebars</h2>