<body>
  <main>
    <section id="grid">
      <div class="row">
        <div id="office-hours" class="item">Office Hours and Contact Information</div>
        <div id="request" class="item">Request an Inspection</div>
        <div id="map" class="item">Map</div>
      </div>

      <div class="row">
        <div id="message-board" class="item">Message Board</div>
        <div id="where-request" class="item">Where to Request an Inspection</div>
      </div>
    </section>
  </main>
</body>
