
<section id="home"></section>
    <section id="grid">
      <div class="row">
        <div id="office-hours" class="item">Office Hours and Contact Information</div>
        <div id="request" class="item">Request an Inspection</div>
        <div id="map" class="item">Map of MPLS (I am 1204)
          <img src="/views/images/map.jpg" alt="Map of Minneapolis inspection areas">
        </div>
        
        <div id="message-board" class="item">Message Board</div>
        
        <div id="where-request" class="item"><p>Where to find a "Request for Electrical Inspection Permit"?</p><br/>
            <p><span>* Online at <a href="http://www.dli.mn.gov/"target="_blank" style="text-decoration:underline">MNDOLI</a></span></p><br/>
              <address>
                * City of Minneapolis Public Service Center<br/>
                250 S. 4th St. Room 300<br/>
                Minneapolis, MN 55415
                </address><br/>
              <address>
                * Department of Labor and Industry<br/>
                Electrical Licensing and Inspection<br/>
                443 Lafayette Rd. N.<br/>
                St. Paul, MN 55155
              </address>
        </div>
      
      </div>
    </section>
</section>    