@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 189, 189);
}

img {
  max-width: 120px;
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 15px;
}

p#title {
  font-size: 40px;
  font-weight: bold;
}

.wrapper {
  /* margin: 100px auto;
  width: 850%; */
  width: 100%;
}

.text-box {
  color: black;
}

.text-box h1 {
  font-size: 42px;
}

.text-box p {
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(2, 2, 112);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

li {
  border-right: 1px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: orchid;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: top 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgb(210, 208, 208);
}

.dropdown-content a:hover {
  background-color: orchid;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background: white;
  min-height: 200px;
  /* width: 100%; */
  width: 30%;
  border: solid 1px;
  text-align: center;
  font-size: 15px;
  color: darkcyan;
  font-weight: bold;
  margin: 5px;
  }

  .Bigitem {
    flex: 2 1 auto;
    background: white;
    min-height: 200px;
    /* width: 100%; */
    width: 30%;
    border: solid 1px;
    text-align: center;
    font-size: 15px;
    color: darkcyan;
    font-weight: bold;
    margin: 5px;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    justify-content: left;
  }

  span {
    font-style: italic;
    font-size: 16px;
  }

